body {
    margin: 0;
    display: flex;
    min-width: 320px;
    min-height: 100vh;
    background: #6B5B9A;
    background: linear-gradient(180deg, #6B5B9A 0%, #BCDAF5 100%);
}

#app {
    text-align: center;
    width: 100%;
    margin-left: 167px;
    margin-top: 52px;
    margin-right: 65px;
    font-family: 'Mukta', sans-serif;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.btn-hover:hover {
    opacity: 0.7;
    cursor: pointer;
}

.btn-default {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    height: 50px;
    border-radius: 30px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    padding: 0 30px;
}

.btn-submit {
    background: #9D7334;
}

.btn-cancel {
    background: #f11717;
}

input:focus {
    outline: none;
}

button:focus, button:focus-visible {
    outline: none!important;
}

@media (prefers-color-scheme: light) {

}
