/* Write your global styles here, in PostCSS syntax */
@tailwind base;
/* width */
::-webkit-scrollbar {
    width: 9px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #d2d2d2;
    box-shadow: inset 0 0 0 4px white;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #d2d2d2;
    border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
}

body {
    margin: 0;
    display: flex;
    min-width: 320px;
    min-height: 100vh;
    /*background-color: #DCDBDD;*/
    background-attachment: fixed;
}

#app {
    background: #DCDBDD;

    text-align: center;
    width: 100%;
    font-family: "Mukta", sans-serif;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.btn-hover:hover {
    opacity: 0.7;
    cursor: pointer;
}

.btn-solid {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    height: 50px;
    border-radius: 30px;
    color: #ffffff;
    border: none;
    cursor: pointer;
    padding: 0 30px;
    background: #9D7334;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-solid:hover {
    background: #C98F36;
}

.btn-solid:active {
    background: #C98F36;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25) inset;
}

.btn-solid:disabled {
    background: #FFFFFF;
    border: 1px solid #B7B7B7;
    color: #B7B7B7;
}

.btn-solid:disabled:hover {
    cursor: default;
}

.btn-solid:disabled:active {
    background: #B7B7B7;
    box-shadow: none;
}

.btn-cancel {
    background: #f11717;
}

input {
    border: none;
}

input:focus {
    outline: none;
}

button:focus,
button:focus-visible {
    outline: none !important;
}

.invalid-input {
    border: 1px solid #f11717;
}

.nav {
    align-items: center;
}

.dropdown-items {
    background-color: #888;
    border-radius: 0 0 10px 10px;
    border: none;
    padding: 15px 0;
    z-index: 2;
}

.dropdown-item {
    color: #000000;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    padding: 0 !important;
    width: 100%;
    text-align: left;
}

.dropdown-item:focus,
.dropdown-item:hover {
    text-decoration: none;
}

.display-flex {
    display: flex;
}

.d-none {
    display: none;
}

.f-weight-700 {
    font-weight: 700;
}

.f-weight-600 {
    font-weight: 600;
}

h1, h2, h3, h4, h5 {
    display: block;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: bold;
}

h1 {
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
}

h2 {
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
}

h3 {
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 40px;
}

ul ul {
    list-style-type: circle;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.pdf-container a:visited {
    color: rgb(0, 80, 160);
}

.pdf-container a {
    color: rgb(0, 100, 200);
    text-decoration: none;
}

.pdf-container a:hover {
    text-decoration: underline;
}

.pdf-container tr, .pdf-container td, .pdf-container th {
    border-collapse: collapse;
    border: 1px solid #dcdbdd;
    padding: 0.2rem;
}

.default-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 0 18px;
    gap: 10px;
    min-width: 73px;
    height: 27px;
    border-radius: 5px;
    background-color: #D2D2D2;
    width: fit-content;
    color: #000000;
}

.default-btn:hover {
    background: #CAE6FF;
    cursor: pointer;
}

.default-btn:active {
    background: #CAE6FF;
    border-radius: 5px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25) inset;
}

.default-btn:disabled {
    border: 1px solid #B7B7B7;
    color: #B7B7B7;
    background-color: #FFffff;
}

.default-btn:disabled:hover {
    background: none;
    cursor: default;
}

.default-btn:disabled:active {
    background: none;
    box-shadow: none;
}

.header-buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    font-weight: 400;
}

.basic-frame-parent {
    padding: 12px;
    width: 100%;
}

.basic-frame {
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #d2d2d2;
    border-radius: 10px;
}

.default-frame {
    background: #ffffff;
    border-radius: 20px;
    padding: 20px;
}

.default-input {
    width: 360px;
    height: 28px;
    background: #ececec;
    border-radius: 5px;
    margin-bottom: 8px;
    padding-left: 13px;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 27px;
}

.check-container {
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.error {
    color: #dd1212;
    max-width: fit-content;
}

.success {
    color: #1ea51b;
}

.w-100 {
    width: 100%;
}

/* Hide the browser's default radio button */
.check-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 19px;
    width: 19px;
    border: 1px solid #c1c1c1;
    border-radius: 5px;
}

/* When the radio button is checked, add a blue background */
.check-container input:checked ~ .checkmark {
    background: #5b5b8a;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.check-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.check-container .checkmark:after {
    position: absolute;
    bottom: 0;
    color: #ffffffff;
    content: "\2714";
    left: 3px;
    top: -7px;
}

.check-box-label {
    /*margin-left: 30px;*/
}

.tb-row:hover {
    background: #ECECEC;
}

.right {
    float: right;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.underline {
    text-decoration: underline;
}

.hover-underline:hover {
    text-decoration: underline;
}

.dropdown .dropdown-menu {
    z-index: 1;
    min-width: 100%;
    -webkit-box-shadow: 0 10px 5px -3px rgba(179, 179, 179, 1);
    -moz-box-shadow: 0 10px 5px -3px rgba(179, 179, 179, 1);
    box-shadow: 0 10px 5px -3px rgba(179, 179, 179, 1);
}

.brown {
    color: #9D7334;
}

.sft-table {
    width: 100%;
    text-align: center;
    line-height: 1.75rem;
    box-shadow: 0 1px 2px -1px rgba(0, 0, 0, 0.10), 0 1px 3px 0 rgba(0, 0, 0, 0.10);
}

.sft-table tr {
    line-height: 36px;
    font-weight: 400;
    font-style: normal;
}

.sft-table-container {
    position: relative;
    height: calc(100vh - 180px);
    margin-bottom: -100px;
    background: #FFFFFF;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.sft-table tbody tr:nth-child(even) {
    background-color: #F0EFF1;
}

.sft-table tbody tr:nth-child(odd) {
    background-color: #FFFFFF;
}

.sft-table thead th {
    background-color: #9196C5;
}

.sft-table thead tr {
    color: #FFFFFF;
    font-weight: 700;
}

.sft-table thead tr:first-child th:first-child {
    border-top-left-radius: 10px;
}

.sft-table thead tr:first-child th:last-child {
    border-top-right-radius: 10px;
}


/* Add dots styling */
.dots {
    white-space: nowrap;
    overflow: hidden;
    margin-left: 5px;
    margin-right: 5px;
}

.dots::after {
    font-size: 10px;
    color: #D2D2D2;
    content: ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . "; /* Add as many dots as you want */
}

.card-header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    border-bottom-width: 1px;;
    padding: 13px 0;
    gap: 20px;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 630px;
    min-height: 300px;
    padding: 24px 60px 60px 60px;
    text-align: left;
}

.link-icon {
    margin-left: 22px;
    width: 24px;
    height: 24px;
}

.link-icon:hover {
    cursor: pointer;
}

.receipts {
    width: 100%;
    margin-right: 20px;
}

.tooltip-text {
    visibility: hidden;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 0 10px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    transform: translate(-50%, 0%);
    opacity: 0;
    white-space: nowrap;
}

.tooltip-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

@media (prefers-color-scheme: light) {
}

@tailwind components;

@tailwind utilities;
